doctype html
html
  head
    title= title
    script(src='/scripts/jquery-3.7.1.js')
    script(src='/scripts/jquery-ui.min.js')
    script(src='/scripts/api-methods.js')
    script(src='/scripts/app.js')
    script(src='/scripts/datatables.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/stylesheets/datatables.min.css')
  body
    block content
